nav {
    background-color: rgb(5, 55, 148);
    border-bottom: 5px solid red;
}

a {
    text-decoration: none;
    color: rgb(252, 248, 5);
    font-size: smaller;
    font-weight: bold;
}
 a:hover {
    text-decoration: underline;
    color: white
}

.navbar-brand {
    font-size: 35px;
     background-image: url(googlebooks.png);
     background-repeat: none;
}

.nav-item {
    font-size: 25px;
}